<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Your vote Matters, Wise Decision Today, Better Liberia Tomorrow</h1>
  </header>

  <main>

    <section class="voting-forms">

      <h2>Cast Your Vote Wisely</h2>
      <form id="votingform" action="" method="post">
        <label for="voterID">Voter ID:</label>
        <input type="text" name="voterID" id="voterID" required>
        <label for="candidate">Select Candidate:</label>
        <select id="candidate" name="candidate" required>
          <option value="" disabled selected>Select a candidate</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>

        <button type="submit">Submit After Vote</button>
      </form>
      <p id="votedmessage"></p>

    </section>

  </main>

  <footer>
    <p>&copy; 2024 National Election Commission, All rights reserved</p>
  </footer>

</body>
</html>